{{define "base"}}
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>IOL Vienna Vintage</title>
  <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://cdn.auth0.com/js/auth0/9.0/auth0.min.js"></script>
  <script type="application/javascript" src="https://unpkg.com/react@16.0.0/umd/react.production.min.js"></script>
  <script type="application/javascript" src="https://unpkg.com/react-dom@16.0.0/umd/react-dom.production.min.js"></script>
  <script type="application/javascript" src="https://unpkg.com/babel-standalone@6.26.0/babel.js"></script>
  <script type="text/babel" src="js/app.jsx"></script>
  <link rel="stylesheet" href="{{.RootUrl}}static/css/semantic.css">
</head>

<body>
  <div id="app"></div>
  <div class="ui vertical footer segment">
    <div class="ui container">
      <div class="ui stackable  divided equal ten stackable grid">
        <div class="five wide column">
          <h4 class="ui header">Version</h4>
          <p>Software build {{.Buildnr}}</p>
        </div>
        <div class="seven wide column">
          <h4 class="ui header">Info</h4>
          <p><i class="copyright icon"></i> 2018 by Invido.it</p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
{{end}}