{{define "base"}}
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="description" content="Italians Online Vienna vintage collection">
  
  <title>IOL Vienna Vintage</title>
  <!-- <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://cdn.auth0.com/js/auth0/9.0/auth0.min.js"></script> -->
  
  <!-- Production react-->
  <!-- <script type="application/javascript" src="https://unpkg.com/react@16.0.0/umd/react.production.min.js"></script>
  <script type="application/javascript" src="https://unpkg.com/react-dom@16.0.0/umd/react-dom.production.min.js"></script> -->
 
  <!-- dev react -->
 <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
 <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
 

  <!-- Standalone babel, should not be used in prod. Use the compiler instead-->
  <script type="application/javascript" src="https://unpkg.com/babel-standalone@6.26.0/babel.js"></script> 
  <script type="text/babel" src="{{.RootUrl}}static/jsx/app.jsx"></script>
  

  <link rel="stylesheet" href="{{.RootUrl}}static/css/semantic.css">
</head>

<body>
  <div class="ui container">
    <!-- react app-->
    <div class="ui main container" id="app"></div>
    <!-- footer -->
    <div class="ui vertical footer segment">
      <div class="ui container">
        <div class="ui stackable  divided equal ten stackable grid">
          <div class="five wide column">
            <h4 class="ui header">Version</h4>
            <p>Software build {{.Buildnr}}</p>
          </div>
          <div class="seven wide column">
            <h4 class="ui header">Info</h4>
            <p><i class="copyright icon"></i> 2018 by Invido.it</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<!-- compiled app -->
<!-- <script src="{{.RootUrl}}static/dist/app.js"></script> -->
</html>
{{end}}